<template>
  <div class="container md-layout md-gutter">
    <div class="md-layout-item md-size-65">
      <form novalidate class="md-layout" @submit.prevent="validateUser">
      <md-card class="md-layout-item md-size-100 md-small-size-100">
      
        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('name')">
                <label for="name">Name</label>
                <md-input name="name" id="name" v-model="user.name" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.name.required">The name is required</span>
                <span class="md-error" v-else-if="!$v.form.name.minlength">Invalid name</span>
              </md-field>
            </div>
          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('username')">
                <label for="username">Username</label>
                <md-input name="username" id="username" v-model="user.username" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.username.required">The username is required</span>
                <span class="md-error" v-else-if="!$v.form.username.minlength">Invalid username!</span>
              </md-field>
            </div>
          </div>

          <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input type="email" name="email" id="email" autocomplete="email" v-model="user.email" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>

          <div class="md-layout md-gutter">

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('suite')">
                <label for="suite">Suite</label>
                <md-input name="suite" id="suite" v-model="user.address.suite" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.suite.required">The suite is required</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('street')">
                <label for="street">Street</label>
                <md-input name="street" id="street" autocomplete="street" v-model="user.address.street" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.street.required">The street is required</span>
                <span class="md-error" v-else-if="!$v.form.street.maxLength">Invalid Street</span>
              </md-field>
            </div>

          </div>

          <div class="md-layout md-gutter">
            
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('city')">
                <label for="city">City</label>
                <md-input name="city" id="city" v-model="user.address.city" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.city.required">The suite is required</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('zipcode')">
                <label for="zipcode">Postal Code</label>
                <md-input name="zipcode" id="zipcode" v-model="user.address.zipcode" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.zipcode.required">The postal code is required</span>
              </md-field>
            </div>

          </div>

          <div class="md-layout md-gutter">
            
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('phone')">
                <label for="phone">Phone</label>
                <md-input name="phone" id="phone" v-model="user.phone" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.phone.required">The phone is required</span>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('website')">
                <label for="webiste">Website</label>
                <md-input name="webiste" id="webiste" v-model="user.website" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.website.required">The Website is required</span>
              </md-field>
            </div>

          </div>

          <div class="md-layout md-gutter">
            
            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label for="companyName">Company Name</label>
                <md-input name="companyName" id="companyName" v-model="user.company.name" :disabled="sending" />
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label for="companyBs">Company Bs</label>
                <md-input name="companyBs" id="companyBs" v-model="user.company.bs" :disabled="sending" />
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100">
              <md-field>
                <label for="companyPhrase">Company Phrase</label>
                <md-input name="companyPhrase" id="companyPhrase" v-model="user.company.catchPhrase" :disabled="sending" />
              </md-field>
            </div>

          </div>

        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Create user</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>
    </form>
    </div>
    <div class="md-layout-item">
      <md-card><Profile v-bind:edit="true" /></md-card>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }

</style>

<script>

import Profile from './Profile.vue'
import { validationMixin } from 'vuelidate'
import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'


export default {
  name: 'EditProfile',
  components: {
    Profile
  },
  mixins: [validationMixin],
  computed: {
      user() {
        return this.$store.getters.selectedUser
      }
  },
  mounted() {
    if(this.user == null) this.$router.push({ name: 'home' })
  },
  destroyed() {
    this.$store.dispatch('setSelectedUser', null)
  },
  data: () => ({
    form: {
      name: null,
      username: null,
      email: null,
      street: null,
      suite: null,
      city: null,
      zipcode: null,
      companyName: null,
      companyBs: null,
      companyPhrase: null,
      phone: null,
      
    },
    userSaved: false,
    sending: false,
    lastUser: null
  }),
  validations: {
      form: {
        name: {
          required,
          minLength: minLength(3)
        },
        username: {
          required,
          minLength: minLength(3)
        },
        
        email: {
          required,
          email
        },
        suite: {
          required
        },
        zipcode: {
          required
        },
        city: {
          required
        },
        street: {
          required,
          maxLength: maxLength(100)
        },
        phone: {
          required
        },
        website: {
          required
        }
      }
    },
    methods: {
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]
        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
      },
      saveUser () {
        this.sending = true

        // API call here instead of timeout
        window.setTimeout(() => {
          this.lastUser = this.form.name
          this.userSaved = true
          this.sending = false
        }, 1500)
      },
      validateUser () {

        this.form = { ...this.user }
        this.form.suite = this.user.address.suite
        this.form.street = this.user.address.street
        this.form.city = this.user.address.city
        this.form.zipcode = this.user.address.zipcode
        this.form.companyName = this.user.company.name
        this.form.companyBs = this.user.company.bs
        this.form.companyPhrase = this.user.company.catchPhrase

        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.saveUser()
        }
      }
    }

}
</script>