<template>
  <div>
    <md-toolbar>
      <router-link :to="{ name: 'home' }">
        <h3 class="md-title">Home</h3>
      </router-link>
    </md-toolbar>

  </div>
</template>

<style lang="scss" scoped>
  .md-toolbar + .md-toolbar {
    margin-top: 16px;
  }
  div {
    margin-bottom: 25px;
  }
</style>

<script>
import Vue from 'vue'
import { MdToolbar } from 'vue-material/dist/components'

Vue.use(MdToolbar)

export default {
  name: 'Header'
}
</script>