<template>
  <div class="container md-layout md-gutter">
    <div class="md-layout-item md-size-65">
      <md-card>
        <md-autocomplete @md-selected="selected" @md-changed="searchOnChange" v-model="selectedName" :md-options="searchUsers">
          <label>User</label>
          <template slot="md-autocomplete-item"  slot-scope="{ item, term }">
            <md-highlight-text  :md-term="term">{{ item }}</md-highlight-text>
          </template>

          <template slot="md-autocomplete-empty" slot-scope="{ term }">
            No users matching "{{ term }}" were found. 
          </template>
        </md-autocomplete>

        <md-table>
          <md-table-row>
            <md-table-head md-numeric>ID</md-table-head>
            <md-table-head>Name</md-table-head>
            <md-table-head>Username</md-table-head>
            <md-table-head>Email</md-table-head>
          </md-table-row>
         
          <md-table-row v-for="user in users" :key="user.id"  v-on:click="selectUser(user)" >
            <md-table-cell md-numeric>{{user.id}}</md-table-cell>
            <md-table-cell>{{user.name}}</md-table-cell>
            <md-table-cell>{{user.username}}</md-table-cell>
            <md-table-cell>{{user.email}}</md-table-cell>
          </md-table-row>

          </md-table>
      </md-card>
    </div>
    <div class="md-layout-item">
      <md-card><Profile  v-if="selectedUser" /></md-card>
    </div>
  </div>
</template>

<script>

import Profile from './Profile.vue'

export default {
  name: 'Home',
  components: {
    Profile
  },
  data() {
    return {
      selectedName: null,
      selectedUser: null,
      // users: [],
      filteredUsers: [],
      errors: []
    }
  },
  created() {
    this.$store.dispatch('loadUsers');
  },
  computed: {
    users() {
      return this.$store.state.users;
    },
    searchUsers() {
      let names = []
      this.$store.state.users.forEach(element => {
        names.push(element.name)
      })
      return names
    }
  },
  methods: {
    selected() {
      this.filteredUsers = []
      this.filteredUsers.push(
        this.users.find(user => user.name === this.selectedName)
      )
      this.selectedUser = this.users.find(user => user.name === this.selectedName)
      this.$store.dispatch('setSelectedUser', this.selectedUser)
    },
    selectUser(user) {
      this.selectedUser = user
      this.$store.dispatch('setSelectedUser', this.selectedUser)
      this.selectedName = this.selectedUser.name
    },
    searchOnChange() {
      if(this.selectedName === '') { 
        this.$store.dispatch('setSelectedUser', null)
        this.selectedUser = null
      }
    }
  },
}
</script>

<style lang=scss scoped>
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
  .md-layout-item {
    height: 40px;

    &:after {
      width: 100%;
      height: 100%;
      display: block;
      background: md-get-palette-color(red, 200);
      content: " ";
    }
  }
</style>
