<template>
    <md-card >
    
      <md-card-header>
        <div class="md-title">{{user.name}}</div>
        <div class="md-subhead">{{user.username}}</div>
      </md-card-header>

      <md-card-content>
        <div>
          <i class="material-icons">email</i>
            {{user.email}}
          </div>
          <div>
            <i class="material-icons">home</i>
            {{user.address.street}}
            <div class="space-left">{{user.address.suite}}</div>
            <div class="space-left">{{user.address.city}}</div>
            <div class="space-left">{{user.address.zipcode}}</div>
          </div>
          <div>
          <i class="material-icons">phone</i>
            {{user.phone}}
          </div>
          <div>
            <i class="material-icons">http</i>
            <a :href="'http://www.' + user.website" target="_blank">{{user.website}}</a>
          </div>
          <div>
            <i class="material-icons">business</i>
            {{user.company.name}}
          <div class="space-left">{{user.company.catchPhrase}}</div>
          <div class="space-left">{{user.company.bs}}</div>
        </div>
      </md-card-content>

      <md-card-actions v-if="edit">
        <md-button @click="updateUser" class="md-raised md-primary">Update</md-button>
        <md-button @click="deleteUser" class="md-accent">Delete</md-button>
      </md-card-actions>
      
      <md-card-actions v-else>
        <router-link :to="{ name: 'user', params: { id: user.id }}">
          <md-button class="md-raised md-primary">Edit</md-button>
        </router-link>
      </md-card-actions>
      
    </md-card>
</template>

<style lang="scss" scoped>
  .md-toolbar + .md-toolbar {
    margin-top: 16px;
  }
  .material-icons {
    vertical-align: middle;
    color: #424242;
  }
  .space-left {
    margin-left: 27px;
  }
</style>

<script>
// import Vue from 'vue'

export default {
  name: 'Profile',
  props: {
    'edit': {
      default: false
    }
  },
  computed: {
    user() {
      return this.$store.getters.selectedUser 
    }
  },
  methods: {
    deleteUser() {
      this.$store.dispatch('deleteUser', this.user)
    },
    updateUser() {
      this.$store.dispatch('updateUser',this.user);
    }
  }
}
</script>