<template>
  <div id="app">

    <Header/>

    <router-view></router-view>
    
  </div>
</template>

<script>
import Vue from 'vue'
import { store } from './store/store'

import Header from './components/Header.vue'

import VueMaterial from 'vue-material'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/default.css'

Vue.use(VueMaterial)

export default {
  name: 'App',
  store,
  components: {
    Header,
  },
}
</script>

<style>

</style>
